/build
*.class
**/target
**/.settings
**/.apt_generated
**/webapp/userfiles
**/WEB-INF/classes
**/logs/*.log*
*.epoch
*.lic

/target/
/.idea
/.gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.ipr
*.iml
*.iws

*.log
*.cache
*.diff
*.patch
*.tmp

build
.externalNativeBuild
.gradle
.DS_Store
Thumbs.db
